.banner {
  position: relative;
  width: 100%;
  padding-top: 60px;
}

.banner img {
  width: 100%;
}

.banner-text {
  position: absolute;
  width: 40%;
  left: 5%;
  top: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner-text-1 {
  font-size: 50px;
  font-weight: 500;
}

.banner-text-2 {
  font-size: 18px;
  font-weight: 400;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.job-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.job-list-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-list-title {
  font-size: 45px;
  font-weight: bold;
  color: #303030;
}

.job-list-des {
  font-size: 22px;
  color: #5e6670;
}

.view-all-btn {
  font-weight: 500;
  color: #6300b3;
  font-size: 24px;
  text-decoration: underline;
  margin: 0 auto;
  cursor: pointer;
}

.view-all-btn:hover {
  opacity: 0.8;
}

.favorite-companies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorite-title-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-title {
  font-size: 24px;
  color: #5e6670;
  padding: 10px 30px;
  background-color: white;
  z-index: 10;
}

.line {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
  height: 2px;
  background-color: rgba(172, 178, 185, 0.45);
}

.company-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 10px;
}

.company-list img {
  width: 120px;
}
